<h2>History</h2>

<h3>{{ Wiki_page }}</h3>

<table border="1" cellspacing="0">
    <thead>
        <th>EditSession</th>
        <th>note</th>
    </thead>
    <tbody>
        {% for EditSession in object_list %}
        <tr>
            <td>{{ EditSession.edited_on }}</td>
            <td>{{ EditSession.note }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>{{ Wiki_page.create_date }}</td>
            <td>New Wiki_page created</td>
        </tr>
    </tbody>
</table>

<br />
<a href="{% url 'wiki_page_detail' 'Wiki_page.slug' %}"><< Back</a>