[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-summernote = "*"
djangorestframework = "*"
pyjwt = "==1.7.1"
django-cors-headers = "*"
sklearn = "*"
pandas = "*"
easyocr = "*"
opencv-python = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.10"
