{% extends "article_form.html" %}

{% block editor %}

<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div id="app">
    <form>
        {% csrf_token %}
        <div>
            <button @click="picUpload">Screen Shoot Recognition Tool</button>
        </div>
        <table>
            {{ form.as_table }}
            {{ edit_form.as_table }}
        </table>
        <input type="submit" name="submit" value="Submit" @click="submitEdit">
    </form>
</div>

<script>
    const axios = require('axios').default {% comment %} May break since not Typescript{% endcomment %}
    const instance = axios.create({
        baseURL: 'https://some-domain.com/api/',
        timeout: 1000,
        headers: {'X-Custom-Header': 'foobar'}
    });

    Vue.createApp({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            {% comment %} message: 'Hello Vue!',
            people: people, {% endcomment %}
        },
        http: {
            {% comment %} root: '/root',
            headers: {
                Authorization: 'Basic YXBpOnBhc3N3b3Jk'
            } {% endcomment %}
        },
        methods: {
        }
    }).mount('#app')

    function submitEdit(event) {
        axios.post().then();
    }

    function picUpload(event) {
        
    }
</script>
{% endblock %}